body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee8df;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home{
  height: 100vh;
  width: 100vw;
  background: rgb(42,36,133);
  background: linear-gradient(143deg, rgba(42,36,133,0.8631652490097601) 0%, rgba(37,37,195,0.944397742006959) 43%, rgba(21,200,236,1) 96%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header img{
  height: 42px;
}

.home-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header span{
  font-size: 42px;
  font-weight: 400;
  margin-left: 0.5rem;
}

.home-intro{
  margin: 1.5rem 0 1rem 0;
  font-size: 18px;
  font-weight: 500;
}

.navbar{
  color: white !important;
  background: rgb(42,36,133) !important;
  background: linear-gradient(143deg, rgba(42,36,133,1) 0%, rgba(37,37,195,1) 43%, rgba(21,200,236,1) 96%) !important;
}

.navbar-title{
  margin-left: 0.5rem;
}

.navbar-dropdown{
  font-size: 14px;
}

.project-content{
  padding-top: 6rem;
}

.people-coming-list{
  background: #eee8df !important;
}

.notification{
  position: -webkit-sticky;
  position: sticky;
  top: 6rem;
}

.attendee{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.eventInfo-head{
  height: 56vmin;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 6vmin 8vmin;
}

.centerElement{
  display: flex !important;
  align-items: center !important;
}